# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

\build
\analysis_out
\outputs
# Export codebase artifacts
codeexport.config.psd1
codebase.txt
exported_cb/
outputs_copy
outputs_copyS2
outputs_copyS1
outputs copy
Temp